body{
    background: rgba(148, 148, 148, 0.3)
  }
  #div{width: 500px;
       height: 340px;
       background: white;
       border: 2px solid rgba(190, 190, 190, 0.3);
       margin-top: 120px;
       margin-left: 400px;
       padding-top: 50px;
       padding-left: 50px;
       border-radius: 10px;
       box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
       
  }
  img{
    width: 280px;
    height: 300px;
    margin-left: 220px;
    margin-top: -260px;
  }
  input{
        width: 200px;
        height: 25px;
        text-align: center;
        border-top: none;
        border-left: none;
        border-right: none;
  }
  #btn1{
       width: 200px;
       height: 30px;
       text-align: center;
       background: black;
       border: 1px solid black;
       color: white;
       margin-bottom: 5px;
       border-radius: 5px;
  }
   #btn2{
       width: 200px;
       height: 30px;
       text-align: center;
       background: white;
       border: 1px solid white;
       color: black;
  }
  P{
    color: rgb(15, 133, 0);
  }
  h1{
      margin-left: 20px;
  }