body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6d6d6d, #686868);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-card {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  }
  
  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h2 {
    margin: 5px 0;
  }
  
  p {
    color: gray;
    font-size: 14px;
  }
  
  .info {
    margin: 30px 5px;
    text-align: left;
  }
  
  .info div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  button {
    background: #000000;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid black;
  }
  