<html lang="ar">
<head>
  <meta charset="utf-8">
  <title>Inscription</title>
  <link rel="stylesheet" href="../static/inscription.css">
</head>
<body>

    <div id="div">
    <p id="result"></p>
  <h1> S'inscrire </h1>

  <input id="name1" placeholder=" Nom "><br><br>
  <input type="email" id="email" placeholder=" Email "><br><br>
  <input type="password" id="pass" placeholder=" Password "><br><br>
  <button id="btn1" onclick="Inscrire()">S'inscrire</button><br>
   <button id="btn2" onclick="connecter()">Se connecter</button>

   <img src="static/images/inscreption.png" alt="Sign up image" />
  
    </div>

   <script src="static/script.js"></script>
</body>
</html>