<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Profil Utilisateur</title>
  <link rel="stylesheet" href="../static/profile.css">
</head>
<body>

  <div class="profile-card">
    <div class="avatar">
      <img src="/static//images/avatar.png" alt="avatar">
    </div>

    <h2 id="username">.....</h2>
    <p id="email">....@gmail.com</p>

    <div class="info">
      <div>
        <span>Inscrit le</span>
        <strong id="date">2026-01-01</strong>
      </div>
      <div>
        <span>Rôle</span>
        <strong id="role">Utilisateur</strong>
      </div>
    </div>

    <button onclick="logout()">Se déconnecter</button>
  </div>

  <script src="static/script.js"></script>
</body>
</html>
